
*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}


body{
    background-color:rgb(255, 244, 230);
    color: rgb(65, 62, 62);
    max-width: 100%;
    font-size: 100%;
}

h1{
    text-align: center;
    font-size: 3em;
    margin: auto;
    padding: 2%;
    border-top: hidden thin;
    border-left: hidden thin;
}


nav{
    text-align: right;
    list-style: none;
    border-bottom: solid thin rgb(65, 62, 62);
    border-top: solid thin rgb(65, 62, 62);
}

#home{
    float: left;
    margin: 0;
}

li{
    display: inline-block;
    font-size: 1em;  
    padding-right: 1%;
}

li a:link, li a:visited{
    color: rgb(255, 244, 230);
    background-color: rgb(65, 62, 62);
    text-decoration: none;
    border: solid thick rgb(65, 62, 62);
    font-weight: bold;
    padding: 5px;
}

li a:hover, li a:active{
    background-color: rgba(99, 99, 99, 0.837);
    border: solid thick rgba(99, 99, 99, 0.837);
}



#content{
    display: block;
}

#gen{
    border-bottom: solid thin rgb(65, 62, 62);
    border-right: solid thin rgb(65, 62, 62);
    text-align: left;
    max-width: 70%;
    float: left;
    padding: 2%;
}

#poetry{
    text-align: left;
    max-width: 30%;
    float: right;
    padding: 2%;
    
}

#fiction{
    text-align: left;
    max-width: 70%;
    clear: left;
    padding: 2%;
    border-right: solid thin rgb(65, 62, 62);
}

#other{
    border-top: solid thin rgb(65, 62, 62);
    border-right: solid thin rgb(65, 62, 62);
    max-width: 70%;
    clear: left;
    padding: 2%;
}

#other a:link, #other a:visited{
    text-decoration: none;
    color: rgb(65, 62, 62);
}

#other a:hover, #other a:active{
    text-decoration: underline;
    font-weight: bold;
}


h2{
    font-size: 2em;
    margin: auto;
}

h3{
    font-size: 1.25em;
    margin-top: 5%;
    margin-bottom: 2%;
}

h4{
    font-size: 1.1em;
    margin: auto;
}

#content p{
    font-size: 1em;
    
}

footer{
    border-top: solid thin rgb(65, 62, 62);
    padding: 2%;
    margin-top: 2%;
    clear: both;
    max-width: 100%;
}

footer a:link, footer a:visited{
    text-decoration: none;
    color: rgb(65, 62, 62);
    font-size: 1.5em;
}

footer a:hover, footer a:active{
    font-weight: bolder;
}